<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Roll Number</th>
            <th>Account Number</th>
            <th>Amount</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.departent }}</td>
                <td>{{ object.rollno }}</td>
                <td>{{ object.accountnumber }}</td>
                <td>{{ object.amount }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>
